# python ka chilla
## how to use jupyter notebook
### basics of python
1- My first program

2- My second program

1- 1st code

In [2]:
print("we are learning with amaar")
print("we are learning with's ammar")
print('''we are learning with"s ammar''')
print(3+5)

we are learning with amaar
we are learning with's ammar
we are learning with"s ammar
8

2- Operators

In [3]:
print(9+4)
print(7-3)
print(8/2)
print(9*4)
print(8//2)
print(15%2)
print(2**4)
print(4**4)
print(4-2+6*3/2)
print("PEMDAS")
print("left to right sequence for m and d and a and s")

13
4
4.0
36
4
1
16
256
11.0
PEMDAS
left to right sequence for m and d and a and s

3- Strings

In [4]:
print('this is our test for single string')
print("now we have put ' in between ")
print('''this is how things works''')

this is our test for single string
now we have put ' in between
this is how things works

4- comments

In [5]:
print("how to add comments mean how to stop a code from appearing in terminal results")
print("for this we use hash tag") #print("lets apply this example")
print("or we can do this in this way")
print("that'S How things work in python")

how to add comments mean how to stop a code from appearing in terminal results
for this we use hash tag
or we can do this in this way
that'S How things work in python

5- variables

In [6]:
#variables are objects containing specific values
from re import X


x = 5 #numeric or integar variable
print(x)
y="we are learning python withcamaar" #string variable
print(y)
x=15
print(x)
x=(x+10)
print(x)
#types of variables mean we are going to check types of variable using python
print(type(x))
print(type(y))
#rules for variables
#1 the variable should contain letters numbers or underscore
#2 do not start with numbers
#3 spaces are not allowed
#4 variable name should be short and descriptive
#5 do not use key words used in functions in python
#6 case senstivity use lowercasse
fruit_basket="mangoes"
print(fruit_basket)
fruit_basket="mangoes,oranges"
print(fruit_basket)
print(type(fruit_basket))

5
we are learning python withcamaar
15
25
<class 'int'>
<class 'str'>
mangoes
mangoes,oranges
<class 'str'>

6- input variables

In [12]:
fruit_basket="mangoes"
print(fruit_basket)

mangoes

In [13]:
#input function
fruit_basket=input("what is your favouritee friut? ")

what is your favouritee friut? mangoes

In [14]:
name=input("what is your name? ")
greetings="Hello!"
print(greetings, name)

what is your name? taqi
Hello! taqi

In [15]:
name=input("what is your name? ")
print("Hello!",name)

what is your name? taqi
Hello! taqi

In [16]:
name=input("what is your name? ")
age=input("how old are you? ")
greetings="Hello!"
print(greetings, name, "you are still young")

what is your name? taqi
how old are you? 20
Hello! taqi you are still young

In [17]:
name=input("what is your name? ")
age=input("how old are you? ")
greetings="Hello!"
print(greetings, name, age, "you are still young")

what is your name? taqi
how old are you? 20
Hello! taqi 20 you are still young

7- conditional logics

In [18]:
#logical operators are eiher true or false yes or no 1 or 0
#equal to ==
#not equal to !=
#less than <
#greater than >
#less than and equal to <=
#greater than and equal to >=
#is 4 equal to 4
print(4==4)
print(4>2)
print(4<2)
print(4!=4)
print(3>6)
print(3>=6)
print(3<=5)
print(4>=2)

True
True
False
False
False
False
True
True

In [19]:
age_at_school=5
hamadad_age=input("how old are you? ")
hamadad_age=int(hamadad_age)
print(hamadad_age==age_at_school)

how old are you? 5
True

In [20]:
age_at_school=5
hamadad_age=input("how old are you? ")
hamadad_age=int(hamadad_age)
print(hamadad_age==age_at_school)

how old are you? 4
False

8- Type conversion

In [31]:
x=10
#y=10.2
#z= "Hello
print(x, "type of x is", type(x))

10 type of x is <class 'int'>

In [32]:
y=10.2
print(x, "type of y is", type(y))

10 type of y is <class 'float'>

In [33]:
z= "we are doing work on jupyter notebook"
print(z, "type of z is", type(z))

we are doing work on jupyter notebook type of z is <class 'str'>

In [34]:
age=input("what is your age? ")
print(age, type(float(age)))

what is your age? 20
20 <class 'float'>

In [35]:
name=input("what is your name? ")
print(name, type(str(name)))

what is your name? taqi
taqi <class 'str'>

9- if elif else

In [36]:
hamad_age=1
required_age=5
#can hamad join the school
if hamad_age==required_age:
    print("hamad can join the school")
elif hamad_age>required_age:
    print("hamad should join higher secondary school")
elif hamad_age<=2:
    print("hamad is still a baby") 
else:
    print("hamad can not join the school")

hamad is still a baby

In [37]:
hamad_age=5
required_age=5
#can hamad join the school
if hamad_age==required_age:
    print("hamad can join the school")
elif hamad_age>required_age:
    print("hamad should join higher secondary school")
elif hamad_age<=2:
    print("hamad is still a baby") 
else:
    print("hamad can not join the school")

hamad can join the school

In [38]:
hamad_age=6
required_age=5
#can hamad join the school
if hamad_age==required_age:
    print("hamad can join the school")
elif hamad_age>required_age:
    print("hamad should join higher secondary school")
elif hamad_age<=2:
    print("hamad is still a baby") 
else:
    print("hamad can not join the school")

hamad should join higher secondary school

10- functions

In [39]:
def print_codanics():
   print("we are learning with amaar")
   print("we are learning with amaar")
   print("we are learning with amaar")
print_codanics()

we are learning with amaar
we are learning with amaar
we are learning with amaar

In [43]:
def print_codanics():
    text="we  are learning with ammar"
    print(text)
    print(text)
    print(text)
print_codanics()

we  are learning with ammar
we  are learning with ammar
we  are learning with ammar

In [44]:
def print_codanics(text):
    print(text)
    print(text)
    print(text)

print_codanics("we are learning with amar at youtube")

we are learning with amar at youtube
we are learning with amar at youtube
we are learning with amar at youtube

In [62]:
def future_age(age):
  new_age=age+20
  return new_age
  print(new_age)
future_predicted_age= future_age(5)
print(future_predicted_age)

25

11= loops

In [74]:
days = ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]
for d in days:
    #if (d=="fri"):break #loop stops
    if (d=="fri"):continue #skips d
    print(d)

mon
tues
wed
thurs
sat
sun

In [75]:
days = ["mon", "tues", "wed", "thurs", "fri", "sat", "sun"]
for d in days:
    if (d=="fri"):break #loop stops
    #if (d=="fri"):continue #skips d
    print(d)

mon
tues
wed
thurs

In [78]:
for x in range (5, 11):
    print(x)

5
6
7
8
9
10

11=import libraries

In [79]:
import math
print("the value of pi is", math.pi)

the value of pi is 3.141592653589793

In [86]:
import statistics
x={10, 15, 15, 25, 35, 55}
print(statistics.mean(x))

28

In [ ]:
12